@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Risecruit';
  src: url('/fonts/Risecruit.ttf') format('truetype');
}

.risecruit {
  font-family: 'Risecruit';
}
